@import "tailwindcss";

:root {
  --background: #281F10;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins); /* Updated */
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-wallpoet);   /* ✅ Optional: for headings */
  --font-standout: var(--font-press_Start_2P);   /* ✅ Optional: for headings */
  --font-aoboshiOne: var(--font-aoboshi_One);   /* ✅ Optional: for headings */
  --font-algerian: var(--font-algerian);   /* ✅ Optional: for headings */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #281F10;
    --foreground: #ededed;
  }
}

body {
  /* overflow-x: hidden; */

  background: var(--background);
  color: var(--foreground);
  @apply font-sans; /* Use Tailwind font class instead of hardcoded font-family */
  overflow-x: hidden;
}

*
{
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

/* Hide scrollbar for WebKit, Firefox, and Edge */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.clip-custom-corner {
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    0 100%
  );
}

/* * {
  @apply font-sans;
} */
