.linedFrame {
    position: relative;
    border-left: 1px solid rgba(255 255 255 / 0.5);
  }
  
  .linedFrame::before,
  .linedFrame::after {
    content: '';
    position: absolute;
    left: 0;
    width: calc(100% - 2px);
    z-index: -1;
  }
  
  .linedFrame::before {
    top: 0;
    height: 15%;
    border-top: 1px solid rgba(255 255 255 / 0.5);
    border-right: 2px solid rgba(255 255 255 / 0.5);
    transform: skewX(45deg);
    transform-origin: right bottom;
  }
  
  .linedFrame::after {
    bottom: 0;
    height: calc(85%);
    border-right: 1px solid rgba(255 255 255 / 0.5);
    border-bottom: 1px solid rgba(255 255 255 / 0.5);
  }
  